.post {

    .title-highlight-underline {
        @apply .bg-gradient-to-r .from-highlightTurquoise .to-highlightBlue;
        background-repeat: no-repeat;
        background-size: 100% 0.3em;
        background-position: 0 88%;
        transition: .2s ease all;

        &:hover {
            background-size: 100%;
        }
    }

    pre code {
        @apply .p-12 .rounded-sm;
    }

    p code {
        @apply .px-2 .py-1 .text-lg .rounded-sm .bg-gradient-to-r .from-highlightTurquoise .to-highlightBlue;
        overflow-wrap: break-word;
    }

    table {
        @apply w-full my-12 rounded-sm overflow-auto block;

        @screen md {
            @apply table;
        }

        th {
            @apply px-6 py-3 text-left font-display text-sm leading-4 font-medium text-white uppercase tracking-wider bg-highlightPurple;

            @screen md {
                @apply .text-lg;
            }
        }

        td {
            @apply px-6 py-4 whitespace-no-wrap text-lg leading-5 font-medium text-gray-900;
        }

        tr {
            &:nth-child(even) {
                @apply bg-gray-100;
            }

            &:nth-child(odd) {
                @apply bg-gray-300;
            }
        }
    }

}
