.post-markdown-styles {

    h1 {
        @apply .font-display .font-bold .text-4xl .text-textBlue .mb-16;

        @screen lg {
            @apply .text-5xl;
        }
    }

    h2 {
        @apply .font-display .font-bold .text-3xl .text-textBlue .mt-12 .mb-8;

        @screen lg {
            @apply .text-4xl;
        }
    }

    h3 {
        @apply .font-display .font-bold .text-2xl .text-textBlue .mt-8 .mb-6;

        @screen lg {
            @apply .text-3xl;
        }
    }

    h4 {
        @apply .font-display .font-bold .text-2xl .text-textBlue .mt-6 .mb-4;
    }

    h5 {
        @apply .font-display .font-bold .text-xl .text-textBlue .mt-6 .mb-4;
    }

    p {
        @apply .text-xl .my-6 .leading-7;

        @screen lg {
            @apply .text-2xl .leading-9;
        }
    }

    ul {
        @apply .text-2xl .ml-12 .my-12 .list-disc .list-none;

        li {
            @apply .relative .ml-12 .text-xl;

            &:before {
                @apply .rounded-full .bg-gradient-to-r .from-highlightTurquoise .to-highlightBlue;
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                left: -50px;
                top: 10px;
            }

            @screen lg {
                @apply .text-2xl;
            }
        }
    }

    img {
        @apply .my-12 .border-b-8 .border-highlightTurquoise;
    }

    a {
        @apply .relative .italic;

        &:after {
            @apply .bg-highlightYellow;
            content: "";
            position: absolute;
            transform: rotate(-2deg);
            width: 100%;
            height: 6px;
            border-radius: 3px;
            left: 0;
            bottom: 3px;
            z-index: -1;
            transition: all 375ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        &:hover:after {
            height: 100%;
        }
    }

    p code, ul code {
        @apply .px-4 .py-1 .rounded-sm .bg-gradient-to-r .from-highlightTurquoise .to-highlightBlue;
    }

    blockquote {

        @apply .my-12 .p-12 .relative .font-display .italic .text-2xl;

        &:before {
            @apply .rounded-sm .bg-gradient-to-r .from-highlightTurquoise .to-highlightBlue;
            content: "";
            position: absolute;
            width: 130%;
            height: 100%;
            top: 0%;
            left: -30%;
            z-index: -1;
            transform: rotate(2deg);
        }
    }

    .blognote {
        @apply .bg-highlightYellow .px-4 py-2 .my-12 .relative .rounded-sm;

        &:before {
            @apply .rounded-sm .bg-gradient-to-r .from-highlightTurquoise .to-highlightBlue;
            content: "";
            position: absolute;
            width: 90%;
            height: 100%;
            top: 0;
            right: -1%;
            z-index: -1;
            transform: rotate(2deg);
            @apply .rounded-sm;

            @screen lg {
                right: -10%;
                width: 98%;
            }
        }

        a {
            text-decoration: underline;
        }

    }
}
